/* ============== Question Card Section-1 ================= */

.card-main{
    width: 60vw;
    height: 70vh;
    /* background-color: #f89443; */
}
.card-sec1{
    width: 60vw;
    height: 30vh;
    background-color: #f89443;
}
.count{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    text-align: center;
    padding: 5px 15px 5px 15px;

}
.inc-dic-conatiner{
    border: 2px solid white;
}




/* ============== Question Card Section-2 ================= */
